{% extends "base.html" %}


{% load staticfiles %}


{% block title %}{% for item in contents %}{{item.title}}{% endfor %}{% endblock title %}


{% block nav_potolok %}
                    <ul>{% for ceiling in ceilings %}
                        <li><a href="{% url 'ceilings:detail' ceiling.slug %}">{{ ceiling.name }}</a></li>
                        {% endfor %}
      				</ul>
{% endblock nav_potolok %}


{% block content %}


<div id="tooplate_main_wrapper">
	<div id="tooplate_main_2">
		<div id="content_2">
        	{% for text in contents %}
            <h3>{{ text.name }}</h3>
            {% if text.phone %}
			<h4>Вызвать <a href="{% url 'feedback' %}"><em>технолога</em></a> можно по тел.: {{ text.phone}}</h4></br>
			{% endif %}
           	<p>{{ text.content }}</p>      	
            {% endfor %}
            <div class="cleaner h40"></div>           
	</div>
    </div> <!-- end of main -->
</div> <!-- end of main wrapper -->
<div id="content_3">
	{% if form.errors %}
        <div id="price_2"><p style="color: red;">
            Введите пожалуйста положительное число!
        </p></div>
    {% endif %}
	{% if result %}
	<div id="price"><p>Стоимость составляет <span style="color:#00ff00;">{{ result }}</span> грн.</p></div>
	{% endif %}
		<form id="myform_2" method="post">
			{% csrf_token %}
			<div>
			<div class="field_2">
			{{ form.material }}
			</div>
			<div class="field_2">				
				<label for="{{ id_area }}" >Укажите Вашу площадь (м.кв.)</label>
				<input id="id_area" class="inputfield_2 textfield_2" name="area" type="number" {{form.area}} 
			</div>		
			<div class="field_2">				
				<label for="{{ id_angles }}" >Введите количество углов (всех)</label>
				<input id="id_angles" class="inputfield_2 textfield_2" name="angles" type="number" {{form.angles}} 
			</div>
			<div class="field_2">				
				<label for="{{ id_lamp }}" >Количество точечных светильников (шт.)</label>
				<input id="id_lamp" class="inputfield_2 textfield_2" name="lamp" type="number" {{form.lamp}} 
			</div>
			<div class="field_2">				
				<label for="{{ id_chandelier }}" >Установка люстры (шт.)</label>
				<input id="id_chandelier" class="inputfield_2 textfield_2" name="chandelier" type="number" {{form.chandelier}} 
			</div>
			<div class="field_2">				
				<label for="{{ id_trumpet }}" >Обход трубы (шт.)</label>
				<input id="id_trumpet" class="inputfield_2 textfield_2" name="trumpet" type="number" {{form.trumpet}} 
			</div>
			<div class="field_2">				
				<label for="{{ id_baguette }}" >Багет "вставка" (п.м.)</label>
				<input id="id_baguette" class="inputfield_2 textfield_2" name="baguette" type="number" {{form.baguette}} 
			</div>
			</div>
			<!--div class="clear"></div-->
			<input class="submitbutton" type="submit" value="Рассчитать" />
		</form>
		
	</div>
<div class="cleaner h40"></div> 

{% endblock content %}
