{% extends "base.html" %}


{% load staticfiles %}


{% block title %}ГАЛЕРЕЯ{% endblock title %}


{% block nav_class_gallery %}selected{% endblock nav_class_gallery %}


{% block nav_potolok %}
                    <ul>{% for ceiling in ceilings %}
                        <li><a href="{% url 'ceilings:detail' ceiling.id %}">{{ ceiling.name }}</a></li>
                        {% endfor %}
      				</ul>
{% endblock nav_potolok %}


{% block content %}

<div id="tooplate_header">
	<div id="tooplate_main">
		<ul class="grid">
			{% for gallery in gallerys %}
            <div class="gallery_box no_margin_right">
            	<a href="{% url 'gallery:picture' gallery.id %}" ><h4><strong>{{ gallery.name }}</strong></h4></a>
                <div id="portfolio_1" class="image_frame image_fl"><span></span><a href="{% url 'gallery:picture' gallery.id %}" ><img src="{{ gallery.image.url }}" width="250" height="250" /></a></div>
			</div>
            {% endfor %}
            </ul>
            <div class="cleaner"></div>
            
	</div><!-- end of main -->   
   </div> <!-- end of header -->
{% endblock content %}
