{% extends "base.html" %}


{% load staticfiles %}


{% block title %}{{ title.title }}{% endblock title %}


{% block script %}<script src="{% static 'js/prototype.js' %}" type="text/javascript"></script>{% endblock script %}


{% block nav_potolok %}
                    <ul>{% for ceiling in ceilings %}
                        <li><a href="{% url 'ceilings:detail' ceiling.slug %}">{{ ceiling.name }}</a></li>
                        {% endfor %}
      				</ul>
{% endblock nav_potolok %}


{% block content %}

<div id="tooplate_header">
	<div id="tooplate_main">
		<ul class="grid">
				<div id="portfolio_1" class="image_frame image_fl"><span></span><a href="{% url 'gallery:gallery' %}" ><img src="{% static 'images/7c519ca3b4e729d65dcf96fe0a90d154.jpg' %}" width="130" height="130" alt="Назад" /></a></div>
			{% for picture in pictures %}        
                <div id="portfolio_1" class="image_frame image_fl"><span></span><a href="{{ picture.image.url }}" rel="lightbox[portfolio]"><img src="{{ picture.image.url }}" width="130" height="130" alt="" /></a></div>
            {% endfor %}
            </ul>
            <div class="cleaner"></div>
            
	</div><!-- end of main -->   
   </div> <!-- end of header -->
{% endblock content %}
