{% extends "base.html" %}


{% load staticfiles %}


{% block title %}{{ ceiling.title }}{% endblock title %}


{% block nav_potolok %}
                    <ul>{% for ceiling in ceilings %}
                        <li><a href="{% url 'ceilings:detail' ceiling.id %}">{{ ceiling.name }}</a></li>
                        {% endfor %}
      				</ul>
{% endblock nav_potolok %}


{% block content %}

<div id="tooplate_header_wrapper">
	<div id="tooplate_header">
    
    	<div id="site_title"><h1><a href="{% url 'index' %}">Leather Shop Template</a></h1></div>
        
        <div id="slider_wrapper">
            <ul class="slider horizontal" >
                {% for slider in sliders %}
                <li><img src="{{ slider.image.url }}" width="920" height="330" alt="Slider" /></li>
            	{% endfor %}
            </ul>
		</div>
    </div> <!-- end of header -->
</div> <!-- end of header wrapper -->

<div id="tooplate_main_wrapper">
	<div id="tooplate_main">
		<div id="content">
        	{% for detalop in detalnoeOpisanies %}
            <h3>{{ detalop.name }}</h3>
            <p><em>{{ detalop.short_description|linebreaks }}</em></p>
           	<p>{{ detalop.description|linebreaks }}</p>
           	{% if detalop.image %}
        <img src="{{ detalop.image.url }}">
        	{% endif %}
            {% endfor %}
            <div class="cleaner h40"></div>
            
            
	</div>
    </div> <!-- end of main -->
</div> <!-- end of main wrapper -->

{% endblock content %}
