{% extends "base.html" %}


{% load staticfiles %}


{% block title %}{{ ceiling.title }}{% endblock title %}


{% block nav_potolok %}
                    <ul>{% for ceiling in ceilings %}
                        <li><a href="{% url 'ceilings:detail' ceiling.id %}">{{ ceiling.name }}</a></li>
                        {% endfor %}
      				</ul>
{% endblock nav_potolok %}


{% block content %}

<div id="tooplate_header_wrapper">
	<div id="tooplate_header">
    
    	<div id="site_title"><h1><a href="#">Leather Shop Template</a></h1></div>
        
        <div id="slider_wrapper">
            <ul class="slider horizontal" >
                <li id="slide_1"><img src="{% static 'images/slider/01.jpg' %}" alt="Slider 1" /></li>
                <li id="slide_2"><img src="{% static 'images/slider/02.jpg' %}" alt="Slider 2" /></li>
                <li id="slide_3"><img src="{% static 'images/slider/03.jpg' %}" alt="Slider 3" /></li>
                <li id="slide_4"><img src="{% static 'images/slider/04.jpg' %}" alt="Slider 4" /></li>
                <li id="slide_5"><img src="{% static 'images/slider/05.jpg' %}" alt="Slider 5" /></li>
            </ul>
		</div>
    </div> <!-- end of header -->
</div> <!-- end of header wrapper -->

<div id="tooplate_main_wrapper">
	<div id="tooplate_main">
		<div id="content">
        	{% for detalop in detalnoeOpisanies %}
            <h3>{{ detalop.name }}</h3>
            <p><em>{{ detalop.short_description }}</em></p>
           	<p>{{ detalop.description }}</p>
           	{% if detalop.image %}
        <img src="{{ detalop.image.url }}">
        	{% endif %}
            {% endfor %}
            <div class="cleaner h40"></div>
            
            
	</div>
    </div> <!-- end of main -->
</div> <!-- end of main wrapper -->

{% endblock content %}
