{% extends "base.html" %}


{% load staticfiles %}


{% block title %}КОТАКТЫ{% endblock title %}


{% block nav_class_contact %}selected{% endblock nav_class_contact %}


{% block nav_potolok %}
                    <ul>{% for ceiling in ceilings %}
                        <li><a href="{% url 'ceilings:detail' ceiling.id %}">{{ ceiling.name }}</a></li>
                        {% endfor %}
      				</ul>
{% endblock nav_potolok %}


{% block content %}



<div id="tooplate_main_wrapper">
	<div id="tooplate_main">
		<div id="content">
        	
            <h2>Наши Контакты</h2>
                <p>Получите удовольствие и комфорт от покупки. Основным отличием нашей компании является - индивидуальный подход к каждому клиенту.</p>
               
                
                <div class="col_3 float_l">
                
               		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6042.976627521432!2d-73.97214665007327!3d40.77327763770354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1421399633197" width="280" height="300" frameborder="0" style="border:0"></iframe>
                    
                </div>
                <div class="col_3 float_r no_margin_right">
                	<h4>Телефоны</h4>
                	<h6><strong>Специалист отдела продаж: Александра</strong></h6></br>                   
                    <strong>Life:</strong> (063) 291-41-67</br></br>
                    <strong>Life:</strong> (063) 831-72-29<br /></br>
                    <strong>MTC:</strong> (050) 225-61-03<br /></br>
                    <strong>Phone:</strong> (057) 771-45-20<br /></br>
                    <strong>Email:</strong> <a href="mailto:orfi@gmail.com">orfi@gmail.com</a>                     
                </div>
            <div class="cleaner"></div>
        </div>
        <div id="sidebar">
			<div class="cleaner h40"></div>
            <em><h3>Возможные идеи для вашего дома</h3></em>
            <ul class="flickr_stream">
                <li><a href="{% url 'gallery:gallery' %}"><img src="{% static 'images/1.jpg' %}" width="75" height="75" alt="Flickr 01" /></a></li>
                <li><a href="{% url 'gallery:gallery' %}"><img src="{% static 'images/2.jpg' %}" width="75" height="75" alt="Flickr 02" /></a></li>
                <li class="no_margin_right"><a href="{% url 'gallery:gallery' %}"><img src="{% static 'images/3.png' %}" width="75" height="75" alt="Flickr 03" /></a></li>
                <li><a href="{% url 'gallery:gallery' %}"><img src="{% static 'images/4.jpg' %}" width="75" height="75" alt="Flickr 04" /></a></li>
                <li><a href="{% url 'gallery:gallery' %}"><img src="{% static 'images/5.jpg' %}" width="75" height="75" alt="Flickr 05" /></a></li>
                <li class="no_margin_right"><a href="{% url 'gallery:gallery' %}"><img src="{% static 'images/6.jpg' %}" width="75" height="75" alt="Flickr 06" /></a></li>
                <li><a href="{% url 'gallery:gallery' %}"><img src="{% static 'images/7.jpg' %}" width="75" height="75" alt="Flickr 07" /></a></li>
                <li><a href="{% url 'gallery:gallery' %}"><img src="{% static 'images/8.jpg' %}" width="75" height="75" alt="Flickr 08" /></a></li>
                <li class="no_margin_right"><a href="{% url 'gallery:gallery' %}"><img src="{% static 'images/9.jpg' %}" width="75" height="75" alt="Flickr 09" /></a></li>
            </ul>
        </div> <!-- end of sidebar -->
{% endblock content %}
