{% extends "base.html" %}


{% load staticfiles %}


{% block title %}{% for item in home %}{{item.title}}{% endfor %}{% endblock title %}


{% block nav_class_index %}selected{% endblock nav_class_index %}


{% block nav_potolok %}
                    <ul>{% for ceiling in ceilings %}
                        <li><a href="{% url 'ceilings:detail' ceiling.slug %}">{{ ceiling.name }}</a></li>
                        {% endfor %}
      				</ul>
{% endblock nav_potolok %}


{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>{{ message }}</strong></li>
    {% endfor %}
</ul>
{% endif %}

<div id="tooplate_header_wrapper">
	<div id="tooplate_header">
    
    	<div id="site_title"><h1><a href="{% url 'index' %}">Натяжные потолки ОРФИ</a></h1></div>
        
        <div id="slider_wrapper">
            <ul class="slider horizontal" >
            {% for slider in sliders %}
                <li><img src="{{ slider.image.url }}" width="920" height="330" alt="Slider" /></li>
            {% endfor %}    
            </ul>
		</div>
    </div> <!-- end of header -->
</div> <!-- end of header wrapper -->

<div id="tooplate_main_wrapper">
	<div id="tooplate_main">
    	<div id="content_top">
            <div class="post col_2 no_bottom float_l">
                <h2><a href="{% url 'feedback' %}">ВЫЗОВ ТЕХНОЛОГА</a></h2></br>
                <div class="solo"><span></span><a href="{% url 'feedback' %}"><img class="myclass" src="{% static 'images/zamer.png' %}" alt="Image 01" /></a></div>
                <p>Монтаж натяжного потолка рекомендуется выполнять на завершающем этапе ремонтных работ. Данный вид отделки потолка занимает от 3х часов до нескольких дней в зависиости от конфигурации и сложности дизайна.</p>
                <div class="cleaner"></div>
            </div>
            <div class="post col_2 no_bottom float_r">
                <h2><a href="{% url 'calculator:calculator' %}">КАЛЬКУЛЯТОР</a></h2></br>               
                <div class="solo"><span></span><a href="{% url 'calculator:calculator' %}"><img class="myclass_2" src="{% static 'images/kalculator.png' %}" alt="Image 02" /></a></div>
                <p>Но помните, что этот просчет будет предварителен. Т.к. каждый потолок индивидуален и зависит от многих факторов - размеров помещения, выбранных материалов, геометрии потолка, осветительных приборов и т.д. Поэтому более точная стоимость натяжного потолка может быть определена только технологом после осмотра и замера помещения.</p>
                <div class="cleaner"></div>
            </div>
            <div class="cleaner"></div>
        </div>
        
		<div id="content">
                
            <div class="col_3">
                <em><h3>Наши преимущества!</h3></em>
                <ul class="tooplate_list">
                	<li>ВЫГОДНО</li>
                    <li>БЫСТРО</li>
                    <li>ПРАКТИЧНО</li>
                    <li>НАДЕЖНО</li>
                    <li>КРАСИВО</li>
                    <li>ДОЛГОВЕЧНО</li>
                </ul>
            </div>
            <div class="col_3 no_margin_right">
                <p class="testimonial"><em>Фото натяжных потолков разных цветов и фактур представлены в галерее наших работ.</em></p></br>  
                <p class="testimonial"><em>Получите удовольствие и комфорт от покупки.</em></p></br>
                <p class="testimonial"><em>Специалисты самостоятельно приедут к Вам на объект и сделают презентацию пленки.</em></p>
			</div>
            <div class="cleaner"></div>
        </div>
        <div id="sidebar">
                           
            <em><h3>Как к нам проехать</h3></em>
			<div class="solo"><span></span><a href="{% url 'contact' %}"><img class="myclass_3" src="{% static 'images/1_2851.png' %}" width="256" height="152" alt="Map" /></a></div>
        </div> <!-- end of sidebar -->
{% endblock content %}
